target
node_modules
dist
build
**/cordova-app/hooks
**/cordova-app/platforms
**/cordova-app/plugins
**/cordova-app/www
.metadata
.settings
.idea
*.iml
*.log
*.lck
*.bin
*.jar

credentials
buildAndDeploy.sh
buildApk.sh