<navbar></navbar>
<main>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h1>{{ $ctrl.aboutMessage }}</h1>
            </div>
         </div>
            <div class="container">
                <div>Die Logbook App ist eine private Initiative für Athletinnen und Athleten des <a href="http://rzklettern-berneroberland.ch/">Regionalzentrums Sportklettern Berner Oberland</a>.</div>
                <p/>
                <div>Version: {{ $ctrl.logbookVersion }}</div>
                <div>&copy; 2016-17</div>
                <p/>
                <div>
                    <address>
                        Für Fragen oder Anregungen: <a href="mailto:christian.egli4@gmail.com">christian.egli4@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</main>